<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lexington Geocoder</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="map"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-5">
        <div id="intro">
          <h1>Lexington Geocoder</h1>
          <p>A service to allow people, but especially computer programs, to submit an address like '123 Main St.' and find its lat/lon coordinates and canonical parcel_id in the Lexington, KY Property Value Administrator's set of addresses. <span><a href="/about">Learn more</a></span></p>
        </div>
        <div id="the-basics">
          <input class="typeahead form-control" type="text" placeholder="Try it! Enter an address">
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js"></script>
  <script src="/js/typeahead.bundle.js"></script>
  <script src="/js/map.js"></script>
  <script type="text/javascript">
$(function() {
  var map = MapBuilder.init('map');
  $('#the-basics .typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 3
  },
  {
    name: 'query',
    displayKey: 'value',
    source: function(query, process) {
    return $.get('/geocode', { query: query }, function (geojson) {
        map.addToMap(geojson);
        var matches = [];
        geojson.features.forEach(function(feature) {
          matches.push({ value: JSON.stringify(feature) });
        });
        return process(matches);
      });
    },
  });
});
  </script>
</body>
</html>
